body {
    background-color: whitesmoke;
}
#root {
    height: 100vh;
    display: flex;
    align-content: center;
}
.todo-list {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 
        /* Sombra de la capa superior */ 0 1px 1px
            rgba(0, 0, 0, 0.15),
        /* Segunda capa */ 0 10px 0 -5px #eee,
        /* Sombra de la segunda capa */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* Tercera capa */ 0 20px 0 -10px #eee,
        /* Sombra de la tercera capa */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type='checkbox'] {
    margin-right: 10px;
    font-size: 30px;
}

input[type='checkbox']:focus {
    outline: 0;
}
